In [21]:
import finlab
from finlab import data
import pandas as pd
import datetime as dt
import numpy as np
import math
from dotenv import load_dotenv
import os
import time
def config():
    load_dotenv()


    
config()

finlab.login(str(os.getenv('FINLAB_API')))

輸入成功!

In [7]:
# 營業利益 "data.get('fundamental_features:營業利益')""	float	
# EBITDA	"data.get('fundamental_features:EBITDA')"	float	
# 營運現金流	"data.get('fundamental_features:營運現金流')"	float	
# 歸屬母公司淨利	"data.get('fundamental_features:歸屬母公司淨利')	float	
# 折舊	data.get('fundamental_features:折舊')	float	
# 流動資產	data.get('fundamental_features:流動資產')	float	
# 流動負債	data.get('fundamental_features:流動負債')	float	
# 取得不動產廠房及設備	data.get('fundamental_features:取得不動產廠房及設備')
# 經常稅後淨利	data.get('fundamental_features:經常稅後淨利')	float	
# ROA稅後息前	data.get('fundamental_features:ROA稅後息前')	float	
# ROA綜合損益	data.get('fundamental_features:ROA綜合損益')	float	
# ROE稅後	data.get('fundamental_features:ROE稅後')	float	
# ROE綜合損益	data.get('fundamental_features:ROE綜合損益')	float	
# 稅前息前折舊前淨利率	data.get('fundamental_features:稅前息前折舊前淨利率')	float	
# 營業毛利率	data.get('fundamental_features:營業毛利率')	float	
# 營業利益率	data.get('fundamental_features:營業利益率')	float
# 稅前淨利率	data.get('fundamental_features:稅前淨利率')	float	
# 稅後淨利率	data.get('fundamental_features:稅後淨利率')	float	
# 業外收支營收率	data.get('fundamental_features:業外收支營收率')	float	
# 貝里比率	data.get('fundamental_features:貝里比率')	float	
# 營業費用率	data.get('fundamental_features:營業費用率')	float	
# 推銷費用率	data.get('fundamental_features:推銷費用率')	float	
# 管理費用率	data.get('fundamental_features:管理費用率')	float	
# 研究發展費用率	data.get('fundamental_features:研究發展費用率')	float	
# 現金流量比率	data.get('fundamental_features:現金流量比率')	float	
# 稅率	data.get('fundamental_features:稅率')	float	
# 每股營業額	data.get('fundamental_features:每股營業額')	float	
# 每股營業利益	data.get('fundamental_features:每股營業利益')	float	
# 每股現金流量	data.get('fundamental_features:每股現金流量')	float	
# 每股稅前淨利	data.get('fundamental_features:每股稅前淨利')	float	
# 每股綜合損益	data.get('fundamental_features:每股綜合損益')	float	
# 每股稅後淨利	data.get('fundamental_features:每股稅後淨利')	float
# 總負債除總淨值	data.get('fundamental_features:總負債除總淨值')	float	
# 負債比率	data.get('fundamental_features:負債比率')	float	
# 淨值除資產	data.get('fundamental_features:淨值除資產')	float	
# 營收成長率	data.get('fundamental_features:營收成長率')	float	
# 營業毛利成長率	data.get('fundamental_features:營業毛利成長率')	float	
# 營業利益成長率	data.get('fundamental_features:營業利益成長率')	float	
# 稅前淨利成長率	data.get('fundamental_features:稅前淨利成長率')	float	
# 稅後淨利成長率	data.get('fundamental_features:稅後淨利成長率')	float	
# 資產總額成長率	data.get('fundamental_features:資產總額成長率')	float	
# 淨值成長率	data.get('fundamental_features:淨值成長率')	float	
# 流動比率	data.get('fundamental_features:流動比率')	float	
# 速動比率	data.get('fundamental_features:速動比率')	float	
# 利息支出率	data.get('fundamental_features:利息支出率')	float	
# 營運資金	data.get('fundamental_features:營運資金')	float	
# 總資產週轉次數	data.get('fundamental_features:總資產週轉次數')	float	
# 應收帳款週轉率	data.get('fundamental_features:應收帳款週轉率')	float

In [22]:
import pandas as pd

def get_feature_data(feature_name):
    """
    Helper function to get data for a single feature and return it as a DataFrame.
    """
    df = data.get(f'fundamental_features:{feature_name}').deadline()
    # Assuming the data has 'date' as one of the columns
    # df['date'] = pd.to_datetime(df['date'])
    # df.set_index('date', inplace=True)
    return df

def combine_feature_data(feature_names):
    """
    Main function to combine data from multiple features into a single DataFrame.
    """
    # List to hold dataframes
    dfs = []
    request_times = 0
    # Loop through each feature, get the data and append to the list
    for feature in feature_names:
        if request_times == 5:
            time.sleep(5)
        df = get_feature_data(feature)
        # Rename the column to match the feature for clarity in the combined DataFrame
        dfs.append(df)

        #cannot request the data too often
        time.sleep(1)
        request_times+=1

    
    # Combine all the dataframes on the index (date)
    combined_df = pd.concat(dfs, axis=1)
    return combined_df

# List of all the features to retrieve and combine
feature_list = [
    '營業利益', 'EBITDA', '營運現金流', '歸屬母公司淨利', '折舊', '流動資產', '流動負債', '取得不動產廠房及設備',
    '經常稅後淨利', 'ROA稅後息前', 'ROA綜合損益', 'ROE稅後', 'ROE綜合損益', '稅前息前折舊前淨利率', '營業毛利率',
    '營業利益率', '稅前淨利率', '稅後淨利率', '業外收支營收率', '貝里比率', '營業費用率', '推銷費用率', '管理費用率',
    '研究發展費用率', '現金流量比率', '稅率', '每股營業額', '每股營業利益', '每股現金流量', '每股稅前淨利', '每股綜合損益',
    '每股稅後淨利', '總負債除總淨值', '負債比率', '淨值除資產', '營收成長率', '營業毛利成長率', '營業利益成長率', '稅前淨利成長率',
    '稅後淨利成長率', '資產總額成長率', '淨值成長率', '流動比率', '速動比率', '利息支出率', '營運資金', '總資產週轉次數', '應收帳款週轉率'
]

# Placeholder for the actual data source
data_source = {}  # This would be the actual data source in practice

# Call the function to combine the data
combined_feature_df = combine_feature_data(feature_list)

# Assuming you would like to see the combined dataframe
combined_feature_df.head()  # Display the first few rows of the combined dataframe

Daily usage: 1.3 / 500 MB - fundamental_features:業外收支營收率
Daily usage: 2.6 / 500 MB - fundamental_features:貝里比率
Daily usage: 3.8 / 500 MB - fundamental_features:營業費用率
Daily usage: 5.0 / 500 MB - fundamental_features:推銷費用率
Daily usage: 6.3 / 500 MB - fundamental_features:管理費用率
Daily usage: 7.5 / 500 MB - fundamental_features:研究發展費用率
Daily usage: 8.8 / 500 MB - fundamental_features:現金流量比率
Daily usage: 10.1 / 500 MB - fundamental_features:稅率
Daily usage: 11.4 / 500 MB - fundamental_features:每股營業額
Daily usage: 12.7 / 500 MB - fundamental_features:每股營業利益
Daily usage: 14.1 / 500 MB - fundamental_features:每股現金流量
Daily usage: 15.4 / 500 MB - fundamental_features:每股稅前淨利
Daily usage: 16.7 / 500 MB - fundamental_features:每股綜合損益
Daily usage: 18.1 / 500 MB - fundamental_features:每股稅後淨利
Daily usage: 19.4 / 500 MB - fundamental_features:總負債除總淨值
Daily usage: 20.8 / 500 MB - fundamental_features:負債比率
Daily usage: 22.1 / 500 MB - fundamental_features:淨值除資產
Daily usage: 23.4 / 500 MB - fundamental_features:營收成長率
Daily usage: 24.7 / 500 MB - fundamental_features:營業毛利成長率
Daily usage: 25.9 / 500 MB - fundamental_features:營業利益成長率
Daily usage: 27.2 / 500 MB - fundamental_features:稅前淨利成長率
Daily usage: 28.5 / 500 MB - fundamental_features:稅後淨利成長率
Daily usage: 29.8 / 500 MB - fundamental_features:資產總額成長率
Daily usage: 31.0 / 500 MB - fundamental_features:淨值成長率
Daily usage: 32.3 / 500 MB - fundamental_features:流動比率
Daily usage: 33.6 / 500 MB - fundamental_features:速動比率
Daily usage: 35.0 / 500 MB - fundamental_features:利息支出率
Daily usage: 36.2 / 500 MB - fundamental_features:營運資金
Daily usage: 37.5 / 500 MB - fundamental_features:總資產週轉次數
Daily usage: 38.6 / 500 MB - fundamental_features:應收帳款週轉率

symbol,000116,000538,000616,000700,000779,000815,000888,000930,000960,000980,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
2013-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-08-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.424742,1.840646,64.964968,1.805397,1.589811,1.309763,5.226363,0.745245,5.249384,8.178321
2013-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.424742,1.840646,64.964968,1.805397,1.589811,1.309763,5.226363,0.745245,5.249384,8.178321
2013-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.424742,1.840646,64.964968,1.805397,1.589811,1.309763,5.226363,0.745245,5.249384,8.178321

In [29]:
X = combined_feature_df

In [39]:
X.dropna(axis=1, how='any').index

DatetimeIndex(['2013-04-30', '2013-05-15', '2013-08-14', '2013-09-02',
               '2013-10-31', '2013-11-14', '2014-03-31', '2014-04-30',
               '2014-05-15', '2014-08-14', '2014-09-01', '2014-10-31',
               '2014-11-14', '2015-03-31', '2015-04-30', '2015-05-15',
               '2015-08-14', '2015-08-31', '2015-11-02', '2015-11-16',
               '2016-03-31', '2016-05-03', '2016-05-16', '2016-08-15',
               '2016-08-31', '2016-10-31', '2016-11-14', '2017-03-31',
               '2017-05-02', '2017-05-15', '2017-08-14', '2017-08-31',
               '2017-10-31', '2017-11-14', '2018-04-02', '2018-04-30',
               '2018-05-15', '2018-08-14', '2018-08-31', '2018-10-31',
               '2018-11-14', '2019-04-01', '2019-04-30', '2019-05-15',
               '2019-08-14', '2019-09-02', '2019-10-31', '2019-11-14',
               '2020-03-31', '2020-04-30', '2020-05-15', '2020-08-14',
               '2020-08-31', '2020-11-02', '2020-11-16'],
              dtype='datetime64[ns]', freq=None)

In [30]:
price_data = data.get('etl:adj_open')
price_data

Daily usage: 54.7 / 500 MB - etl:adj_open

symbol,0015,0050,0051,0052,0053,0054,0055,0056,0057,0058,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2013-01-02,7.55,54.000000,25.750000,32.300000,23.300000,19.500000,11.400000,22.830000,31.590000,32.45,...,16.400000,60.500000,19.000000,20.300000,19.300000,41.000000,29.400000,13.100000,17.250000,12.400000
2013-01-03,7.64,54.900000,26.200000,32.760000,23.290000,19.400000,11.530000,23.050000,32.260000,32.29,...,16.600000,63.400000,19.100000,20.400000,19.300000,42.300000,29.300000,13.700000,17.400000,13.000000
2013-01-04,7.60,54.850000,26.120000,32.400000,23.120000,19.400000,11.480000,23.060000,32.040000,32.20,...,16.650000,66.900000,19.000000,20.200000,19.300000,41.900000,28.900000,13.300000,17.300000,13.050000
2013-01-07,7.60,54.550000,25.900000,32.120000,22.900000,19.350000,11.380000,22.950000,NaN,31.94,...,16.600000,66.800000,19.100000,20.300000,19.400000,41.600000,28.700000,13.250000,17.300000,12.800000
2013-01-08,7.60,54.000000,25.840000,32.000000,22.900000,19.210000,11.390000,22.950000,31.710000,32.06,...,17.250000,65.600000,19.550000,20.000000,19.400000,41.500000,29.000000,13.600000,17.100000,13.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-25,NaN,150.576957,54.571764,136.612141,72.902401,35.397279,22.781432,43.590288,82.072648,NaN,...,23.937683,70.829141,31.935945,13.043859,13.241307,120.306749,20.297030,144.214988,NaN,14.296107
2020-12-28,NaN,150.513743,54.685825,135.973767,72.837714,35.256966,22.794339,43.605060,82.072648,NaN,...,23.829613,70.481940,31.837072,13.153471,13.175430,121.397967,20.449257,142.309063,39.199986,14.121941
2020-12-29,NaN,151.778033,55.737719,137.888890,73.290524,35.588616,22.858876,43.959572,82.384909,NaN,...,23.991719,70.481940,31.738199,13.043859,13.175430,120.033944,20.652228,140.403138,43.056759,14.092914
2020-12-30,NaN,151.714818,55.623659,137.888890,73.613960,35.588616,22.858876,43.870944,82.384909,NaN,...,24.045754,70.481940,31.837072,13.043859,13.175430,119.488336,20.347772,139.767830,42.361275,14.281593
2020-12-31,NaN,154.433042,55.851780,141.399950,74.066770,35.920266,23.465520,44.033429,83.894172,NaN,...,24.153825,70.829141,31.935945,13.043859,13.175430,118.533520,20.297030,139.132521,44.637404,14.658952